# python3.7+

# clip lib, copy and paste
pyperclip==1.8.2
pyautogui==0.9.54
psutil==5.9.5

# windows ui automation python wrapper lib
uiautomation==2.0.18

# exe builder lib
pyinstaller==5.13.0

# http server lib
flask==2.3.2
gevent==22.10.2

# wecom, wechat work lib
ntwork==0.1.3

schedule==1.2.0